.project
.tox
dist
*.py[cod]
sdist
.installed.cfg
# Installer logs
pip-log.txt
*.so
debian/files
develop-eggs
*.egg
parts
build
# C extensions
lib64
# Unit test / coverage reports
bin
nosetests.xml
.pydevproject
eggs
*.egg-info
var
# Translations
# Packages
lib
# Mr Developer
/debian/mopidy-soundcloud
.coverage
debian/mopidy-soundcloud.**
*.mo
.mr.developer.cfg