Source: mopidy-soundcloud
Maintainer: dz0ny <dz0ny@shortmail.com>
Section: python
Priority: optional
Build-Depends: debhelper (>> 7), python-all (>= 2.6.6-3~)
Vcs-Git: git://github.com/dz0ny/mopidy-soundcloud.git
Homepage: https://github.com/dz0ny/mopidy-soundcloud
Standards-Version: 3.9.2

Package: mopidy-soundcloud
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, mopidy, python-requests
Provides: ${python:Provides}
Description: SoundCloud extension for Mopidy
  Mopidy extension for playing music from SoundCloud.
  You must register for a user account at http://www.soundcloud.com/
  You need a SoundCloud authentication token for Mopidy from http://www.mopidy.com/authenticate
  Add the authentication token to the mopidy.conf config file:
  [soundcloud]
  auth_key = 1-1111-1111111
  Extra playlists from http://www.soundcloud.com/explore can be retrieved by setting the soundcloud/explore config value. For example, if you want Smooth Jazz from https://soundcloud.com/explore/jazz%2Bblues your entry would be "jazz%2Bblues/Smooth Jazz". Example config:
  [soundcloud]
  auth_key = 1-1111-1111111
  explore = electronic/Ambient, pop/New Wave, rock/Indie